development:
  tgn_enabled: true
  geonames_username: <username>
  #NOTE: Mapquest is super unreliable on its matches...
  mapquest_key: <mapquest_key>
  #NOTE: Bing also fairly unreliable but mostly works...
  bing_key: <bing_key>
  timeout: 7
test: &TEST_
  tgn_enabled: true
  geonames_username: <username>
  #NOTE: Mapquest is super unreliable on its matches...
  mapquest_key: <mapquest_key>
  #NOTE: Bing also fairly unreliable but mostly works...
  bing_key: <bing_key>
  timeout: 7
production:
  tgn_enabled: true
  geonames_username: <username>
  #NOTE: Mapquest is super unreliable on its matches...
  mapquest_key: <mapquest_key>
  #NOTE: Bing also fairly unreliable but mostly works...
  bing_key: <bing_key>
  timeout: 7
