development:
  getty_username: <username>
  getty_password: <password>
  geonames_username: <username>
  mapquest_key: <mapquest_key>
  bing_key: <bing_key>
  timeout: 7
test: &TEST_
  getty_username: <username>
  getty_password: <password>
  geonames_username: <username>
  mapquest_key: <mapquest_key>
  bing_key: <bing_key>
  timeout: 7
production:
  getty_username: <username>
  getty_password: <password>
  geonames_username: <username>
  mapquest_key: <mapquest_key>
  bing_key: <bing_key>
  timeout: 7
